@font-face {
    font-family: 'gotham-black';
    src: url(../fonts/gotham-webfont/Gotham-Black.woff) format('woff'),
        url(../fonts/gotham/Gotham-Black.otf) format('opentype'),
        url(../fonts/gotham/truetype/Gotham-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'gotham-bold';
    src: url(../fonts/gotham-webfont/Gotham-Bold.woff) format('woff'),
        url(../fonts/gotham/Gotham-Bold.otf) format('opentype'),
        url(../fonts/gotham/truetype/Gotham-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'gotham-medium';
    src: url(../fonts/gotham-webfont/GothamMedium.woff) format('woff'),
        url(../fonts/gotham/Gotham-Medium.otf) format('opentype'),
        url(../fonts/gotham/truetype/Gotham-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'yournotes';
    src: url(../fonts/yournotes-bold-italic.otf) format('opentype');
    font-weight: 700;
}


// -----------------GERAIS ------------------
* {

    body {
        font-family: 'gotham-medium';
        font-size: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        line-height: inherit;
    }

    a,
    figure,
    label,
    button {
        background-color: transparent;
        margin-bottom: 0;
    }

}